<div class="venue">
  <div class="venue-label">
    {{performancesphrase}}:
  </div>
  <div class="venue-items">
    <ul>
      {{#ng-each performances~}}
        <li>
          {{#if this.title}}
            {{period this.title}}
          {{/if}}
          {{daterange this.startDate this.endDate}}
          {{#ensureperiod}}{{this.name}}{{#if this.location}}{{#all this.name this.location}}, {{/all}}{{this.location}}{{/if}}{{#any this.startDate this.endDate}}, {{daterange this.startDate this.endDate}}{{/any}}{{/ensureperiod}}
        </li>
      {{~/ng-each}}
    </ul>
  </div>
</div>
