<div class="awardhonor">
  {{type}} {{nomrec}}{{#any name org}}: {{/any}}
  {{#ensureperiod}}{{name}}, {{org}}{{/ensureperiod}}
  <div class="awardhonordates">
    {{daterange startDate endDate}}
  </div>
</div>
