<div class="contractgrant">
  {{#ng-each investigators~}}
    {{this.lname}}{{#any this.fname this.mname}}, {{/any}}{{this.fname}}{{#if this.mname}} {{this.mname}}{{/if}}{{#if this.role}} ({{this.role}}){{/if}}
    {{~#if percent}}, Percent Contribution: {{percent}}{{/if}}
    {{~#ng-last}}. {{else}}, {{/ng-last}}
  {{~/ng-each}}

  {{#ensureperiod}}
    {{#if title}}{{title~}}{{#any sponsor funding-source amount}}, {{/any}}{{/if}}
    {{#if sponsor}}{{~sponsor~}}{{#any funding-source amount}}, {{/any}}{{/if}}
    {{#if funding-source}}{{~funding-source~}}{{#any amount}}, {{/any}}{{/if}}
    {{#if amount}}${{~amount~}}{{/if}}
  {{/ensureperiod}}

  {{#any submissionyear startyear endyear}}({{/any}}
  {{~#if submissionyear}}Submitted: {{date submissionyear submissionmonth submissionday}}{{#any startyear endyear}}, {{/any}}{{/if}}
  {{~#any startyear endyear}}Funded: {{/any}}{{~daterange (date startyear startmonth startday) (date endyear endmonth endday)~}}
  {{#any submissionyear startyear endyear}}).{{/any}}

  {{period type}}
</div>
