{{period (italic title)}}

{{period collection-name}}

{{daterange (date startyear startmonth startday) (date endyear endmonth endday)}}

{{#if num-artists}}
<span class="artists">
  Artists: {{num-artists}}
</span>
{{/if}}

{{#if scope}}
<span class="scope">
  ({{scope}})
</span>
{{/if}}

{{>finearts_performances}}
{{>finearts_reviews}}
