<div class="finearts-collection">
  {{period (italic title)}}

  {{#ensureperiod}}{{collection-name}}, {{collection-location}}{{/ensureperiod}}

  {{period collection-type}}

  {{#ensureperiod}}{{date-range}}{{#if acquired-date}}, Acquired: {{acquired-date}}{{/if}}{{#if medium}}, {{medium}}{{/if}}{{/ensureperiod}}

  {{#if reviews}}
    {{>finearts_reviews}}
  {{/if}}
</div>
